[Unit]
Description=Raspberry Pi/SenseHat Sentiment API

[Service]
Type=simple
ExecStart=/opt/sensehat/main.py
WorkingDirectory=/opt/sensehat
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=sensehat
LimitNOFILE=64000
LimitNPROC=32000
User=root

[Install]
WantedBy=multi-user.target